<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiorunt"
    android:installLocation="internalOnly"
    android:versionCode="17"
    android:versionName="1.1.11.1" >
     <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".utilities.RalleeApp"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.LogInActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.IntentChannel"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="com.radiorunt.RALLEE" />

                <data
                    android:host="channelname"
                    android:scheme="rallee" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".activities.ChannelsActivity" -->
        <!-- android:launchMode="singleInstance" -->
        <!-- android:noHistory="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" > -->
        <!-- </activity> -->
        <!--
             <activity
            android:name=".activities.RadioRuntConnection"
            android:enabled="true"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        -->
        <activity
            android:name=".utilities.Preferences"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".utilities.FaqActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.crittercism.NotificationActivity" />

        <service android:name=".services.RRServerProxyService" >
        </service>
        <service android:name=".utilities.C2DMReceiver" />
        <service
            android:name=".services.RadioRuntService"
            android:enabled="true" />
        <service
            android:name=".services.RRLocationService"
            android:enabled="true" />
        <service
            android:name=".services.RequestFBData"
            android:enabled="true" />
        <service
            android:name=".services.GetGroupsFromFBService"
            android:enabled="true" />

        <receiver
            android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.radiorunt" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.radiorunt" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utilities.StartRadioRuntServiceAtBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="StartRadioRuntServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.PingAlarm" />

        <provider
            android:name=".activities.DbContentProvider"
            android:authorities="com.radiorunt.activities.DbContentProvider" />
    </application>


    <permission
        android:name="com.radiorunt.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="com.radiorunt.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.microphone" />

</manifest>